@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --universal-font: 'Roboto', sans-serif;
}

.todoContainer{

    font-family: var(--universal-font);
    background-image: url(/images/bg-desktop-light.jpg);
    width: 100%;
    
}

.todo {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.todo h1{
    color: #fff;
    font-weight: bolder;
}

.todo img{
    margin-top: 20px;
    cursor: pointer;
}